<section class="hero flex items-center justify-center">
    <div class="hero-text text-center">
        <h1 class="text-4xl mb-1">Hoi! (Semi) gezonde gerechten in één overzicht.</h1>
        <p class="mb-2">Soms hadden wij momenten dat we niet meer wisten wat wij konden eten, kortom we waren inspiratieloos. Om dat probleem te verhelpen zijn bij deze recepten website begonnen, hier verzamelen wij alles dat we lekker vinden!</p>
        <div class="page-navigation flex flex-row justify-center">
            <a href="#" class="underline p-2 mr-4">Ontbijt</a>
            <a href="#" class="underline p-2 mr-4">Lunch</a>
            <a href="#" class="underline p-2 mr-4">Diner</a>
            <a href="#" class="underline p-2 mr-4">Tussendoor</a>
            <a href="#" class="underline p-2 mr-4">Koolhydraat arm</a>
        </div>
    </div>
</section>