<div class="nav">
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="menu">
        <a href="#" class="p-2 mr-4">Ontbijt</a>
        <a href="#" class="p-2 mr-4">Lunch</a>
        <a href="#" class="p-2 mr-4">Diner</a>
        <a href="#" class="p-2 mr-4">Tussendoor</a>
        <a href="#" class="p-2 mr-4">Koolhydraad arm</a>
        <a href="#" class="p-2 mr-4"><span>Recept opvragen</span></a>
    </div>
</div>

<!-- <ul class="menu flex">
    <li><a href="#" class="p-2 mr-4">Ontbijt</a></li>
    <li><a href="#" class="p-2 mr-4">Lunch</a></li>
    <li><a href="#" class="p-2 mr-4">Diner</a></li>
    <li><a href="#" class="p-2 mr-4">Tussendoor</a></li>
    <li><a href="#" class="p-2 mr-4">Koolhydraad arm</a></li>
    <li class="cta"><a href="https://cro-tool.com" target="_blank">Check my CRO tool <span class="emphasize">(it's free)</span></a></li>
</ul> -->